node_modules
dist
.git
.env
.env.*
pnpm-debug.log
npm-debug.log
yarn-debug.log
coverage
*.mjs
*.tsbuildinfo
pgdata/
docker-compose.yml
Dockerfile
client/node_modules/
client/dist/
server/node_modules/
server/dist/
